Instructions 

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [7]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [17]:
data = pd.read_csv('/Users/KirstyG/Desktop/Ironhack/lab-t-tests-p-values/files_for_lab/machine.txt', delimiter='\t', encoding='utf-16')
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [20]:
new_machine = [42.1, 41, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [22]:
old_machine = [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44, 44.1]

In [28]:
t_statistic, p_value = stats.ttest_ind(new_machine, old_machine)

In [29]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: -3.3972307061176026
p-value: 0.0032111425007745158

In [30]:
alpha = 0.05

In [31]:
if p_value < alpha:
    print("Reject null hypothesis. There is sufficient evidence to suggest that the new machine has faster times.")
else:
    print("Fail to reject null hypothesis. There is not enough evidence to suggest that the new machine has faster times.")

Reject null hypothesis. There is sufficient evidence to suggest that the new machine has faster times.

In this case we can reject the null hypothesis as the p-value is less than the significance level. The new machine doesn't work faster than the old machine